[submodule "layers/poky"]
	path = layers/poky
	url = https://git.yoctoproject.org/poky
[submodule "layers/meta-openembedded"]
	path = layers/meta-openembedded
	url = https://git.openembedded.org/meta-openembedded
